#!/bin/bash
if [ ! -f beagle.08Jun17.d8b.jar ]; then
  echo
  echo "Downloading beagle.08Jun17.d8b.jar"
  wget http://faculty.washington.edu/browning/beagle/beagle.08Jun17.d8b.jar
fi

if [ ! -f bref.08Jun17.d8b.jar ]; then
  echo
  echo "Downloading bref.08Jun17.d8b.jar"
  wget http://faculty.washington.edu/browning/beagle/bref.08Jun17.d8b.jar
fi

echo

if [ ! -f test.08Jun17.d8b.vcf.gz ]; then
    echo
    echo "*** Downloading some 1000 Genomes Project data to file: test.08Jun17.d8b.vcf.gz ***"
    wget http://faculty.washington.edu/browning/beagle/test.08Jun17.d8b.vcf.gz
fi

echo
echo "*** Creating test files: ref.08Jun17.d8b.vcf.gz target.08Jun17.d8b.vcf.gz ***"
echo
zcat test.08Jun17.d8b.vcf.gz | cut -f1-190 | tr '/' '|' | gzip > ref.08Jun17.d8b.vcf.gz
zcat test.08Jun17.d8b.vcf.gz | cut -f1-9,191-200 | gzip > target.08Jun17.d8b.vcf.gz


echo
echo "*** Running test analysis with \"gt=\" argument ***"
echo
java -jar beagle.08Jun17.d8b.jar gt=test.08Jun17.d8b.vcf.gz out=out.gt

echo
echo "*** Running test analysis with \"gl=\" argument ***"
echo
java -jar beagle.08Jun17.d8b.jar gl=test.08Jun17.d8b.vcf.gz out=out.gl

echo
echo "*** Running test analysis with \"ref=\" argument ***"
echo
java -jar beagle.08Jun17.d8b.jar ref=ref.08Jun17.d8b.vcf.gz gt=target.08Jun17.d8b.vcf.gz out=out.ref

echo
echo "*** Making \"bref\" file ***"
echo
java -jar bref.08Jun17.d8b.jar ref.08Jun17.d8b.vcf.gz

echo
echo "*** Running test analysis with \"bref=\" argument ***"
echo
java -jar beagle.08Jun17.d8b.jar ref=ref.08Jun17.d8b.bref gt=target.08Jun17.d8b.vcf.gz out=out.bref

